$primary-bg: #0082aa;
$primary-text: #333333;

$dark-primary-bg: #161c2c;
$dark-primary-text: #2ccfcc;

$black: #00040c;
$white: #ffffff;
$gray: #cccccc;
$yellow: #ffff00;
$orange: #ff8c00;
$red: #ff0000;
$green: #00ff00;
$blue: #0000ff;
