.center-box,
.center-btn,
.center-img {
  display: block;
  margin: auto;
}
.left-float {
  float: left;
}
.center-float {
  float: center;
}
.right-float {
  float: right;
}
.left-text {
  text-align: left;
}
.center-text {
  text-align: center;
}
.right-text {
  text-align: right;
}