*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-size: 16px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.linear:before,
.linear:after {
  display: table;
  content: " ";
}

.linear:after {
  clear: both;
}

.no-decoration {
  text-decoration: none;
}

a.no-decoration:link {
  color: inherit;
}

a.no-decoration:visited {
  color: inherit;
}

a.no-decoration:hover {
  color: inherit;
}

a.no-decoration:active {
  color: inherit;
}

.menu,
.menu-t,
.menu-tablet,
.menu-d,
.menu-desktop {
  position: relative;
  background-color: #ffffff;
  padding: 10px 0px;
}

.hamburger {
  display: block;
  height: 20px;
  width: 30px;
  margin: 0px 10px 0px 10px;
  border-bottom: 12px double #333333;
  border-top: 4px solid #333333;
  text-decoration: none;
  cursor: pointer;
}

.hamburger + input {
  display: none;
  visibility: hidden;
  width: 0px;
  height: 0px;
  opacity: 0;
}

.hamburger + input:checked + .navbar > ul {
  display: block;
}

.menu .navbar > ul > li,
.menu-t .navbar > ul > li,
.menu-tablet .navbar > ul > li,
.menu-d .navbar > ul > li,
.menu-desktop .navbar > ul > li {
  display: block;
  padding: 5px 0px;
  background-color: #ffffff;
  border-radius: 4px;
}

.navbar > ul {
  display: none;
  position: absolute;
  width: 100%;
  padding: 0px;
  background-color: #ffffff;
}

.navbar > ul a {
  display: block;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  color: #333333;
}

.navbar > ul li:hover {
  background-color: #cccccc;
  border-radius: 4px;
  cursor: pointer;
}

.navbar > ul > .dropdown {
  position: relative;
}

.navbar > ul > .dropdown::after {
  content: '';
  position: absolute;
  top: 43%;
  left: 86%;
  border-top: 8px solid #333333;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.navbar > ul > .dropdown:hover::after {
  content: '';
  position: absolute;
  top: 35%;
  left: 86%;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-bottom: 8px solid #333333;
}

.navbar > ul > .dropdown > ul {
  display: none;
  position: absolute;
  left: 0px;
  margin-top: 5px;
  padding: 0px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #ffffff;
}

.navbar > ul > .dropdown:hover > ul {
  display: block;
}

.navbar > ul > .dropdown > ul > li {
  display: block;
}

.btn, .btn-block {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.btn-block {
  display: block;
}

.popup,
.popup-t,
.popup-tablet,
.popup-d,
.popup-desktop {
  display: none;
  position: fixed;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  width: 95%;
  max-width: 480px;
  padding: 30px 15px;
  background-color: #ffffff;
  border: 2px solid #cccccc;
  border-radius: 5px;
}

.popup:target,
.popup-t:target:target,
.popup-tablet:target,
.popup-d:target,
.popup-desktop:target {
  display: block;
}

.popup .close,
.popup-t .close,
.popup-tablet .close,
.popup-d .close,
.popup-desktop .close {
  position: absolute;
  top: 0px;
  right: 8px;
  font-size: 30px;
  text-decoration: none;
}

.center-box,
.center-btn,
.center-img {
  display: block;
  margin: auto;
}

.left-float {
  float: left;
}

.center-float {
  float: center;
}

.right-float {
  float: right;
}

.left-text {
  text-align: left;
}

.center-text {
  text-align: center;
}

.right-text {
  text-align: right;
}

.box {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.box-full {
  width: 100%;
  max-width: 100%;
  margin: auto;
}

.box-1 {
  float: left;
  width: 100%;
  max-width: 100%;
}

.box-skip-1 {
  margin-left: 100%;
}

.box-2 {
  float: left;
  width: 100%;
  max-width: 50%;
}

.box-skip-2 {
  margin-left: 50%;
}

.box-3 {
  float: left;
  width: 100%;
  max-width: 33.33333%;
}

.box-skip-3 {
  margin-left: 33.33333%;
}

.box-4 {
  float: left;
  width: 100%;
  max-width: 25%;
}

.box-skip-4 {
  margin-left: 25%;
}

.box-5 {
  float: left;
  width: 100%;
  max-width: 20%;
}

.box-skip-5 {
  margin-left: 20%;
}

.box-6 {
  float: left;
  width: 100%;
  max-width: 16.66667%;
}

.box-skip-6 {
  margin-left: 16.66667%;
}

.box-7 {
  float: left;
  width: 100%;
  max-width: 14.28571%;
}

.box-skip-7 {
  margin-left: 14.28571%;
}

.box-8 {
  float: left;
  width: 100%;
  max-width: 12.5%;
}

.box-skip-8 {
  margin-left: 12.5%;
}

@media screen and (min-width: 600px) {
  .box-t-1,
  .box-tablet-1 {
    max-width: 100%;
  }
  .box-skip-t-1,
  .box-skip-tablet-1 {
    margin-left: 100%;
  }
}

@media screen and (min-width: 900px) {
  .box-d-1,
  .box-desktop-1 {
    max-width: 100%;
  }
  .box-skip-d-1,
  .box-skip-desktop-1 {
    margin-left: 100%;
  }
}

@media screen and (min-width: 600px) {
  .box-t-2,
  .box-tablet-2 {
    max-width: 50%;
  }
  .box-skip-t-2,
  .box-skip-tablet-2 {
    margin-left: 50%;
  }
}

@media screen and (min-width: 900px) {
  .box-d-2,
  .box-desktop-2 {
    max-width: 50%;
  }
  .box-skip-d-2,
  .box-skip-desktop-2 {
    margin-left: 50%;
  }
}

@media screen and (min-width: 600px) {
  .box-t-3,
  .box-tablet-3 {
    max-width: 33.33333%;
  }
  .box-skip-t-3,
  .box-skip-tablet-3 {
    margin-left: 33.33333%;
  }
}

@media screen and (min-width: 900px) {
  .box-d-3,
  .box-desktop-3 {
    max-width: 33.33333%;
  }
  .box-skip-d-3,
  .box-skip-desktop-3 {
    margin-left: 33.33333%;
  }
}

@media screen and (min-width: 600px) {
  .box-t-4,
  .box-tablet-4 {
    max-width: 25%;
  }
  .box-skip-t-4,
  .box-skip-tablet-4 {
    margin-left: 25%;
  }
}

@media screen and (min-width: 900px) {
  .box-d-4,
  .box-desktop-4 {
    max-width: 25%;
  }
  .box-skip-d-4,
  .box-skip-desktop-4 {
    margin-left: 25%;
  }
}

@media screen and (min-width: 600px) {
  .box-t-5,
  .box-tablet-5 {
    max-width: 20%;
  }
  .box-skip-t-5,
  .box-skip-tablet-5 {
    margin-left: 20%;
  }
}

@media screen and (min-width: 900px) {
  .box-d-5,
  .box-desktop-5 {
    max-width: 20%;
  }
  .box-skip-d-5,
  .box-skip-desktop-5 {
    margin-left: 20%;
  }
}

@media screen and (min-width: 600px) {
  .box-t-6,
  .box-tablet-6 {
    max-width: 16.66667%;
  }
  .box-skip-t-6,
  .box-skip-tablet-6 {
    margin-left: 16.66667%;
  }
}

@media screen and (min-width: 900px) {
  .box-d-6,
  .box-desktop-6 {
    max-width: 16.66667%;
  }
  .box-skip-d-6,
  .box-skip-desktop-6 {
    margin-left: 16.66667%;
  }
}

@media screen and (min-width: 600px) {
  .box-t-7,
  .box-tablet-7 {
    max-width: 14.28571%;
  }
  .box-skip-t-7,
  .box-skip-tablet-7 {
    margin-left: 14.28571%;
  }
}

@media screen and (min-width: 900px) {
  .box-d-7,
  .box-desktop-7 {
    max-width: 14.28571%;
  }
  .box-skip-d-7,
  .box-skip-desktop-7 {
    margin-left: 14.28571%;
  }
}

@media screen and (min-width: 600px) {
  .box-t-8,
  .box-tablet-8 {
    max-width: 12.5%;
  }
  .box-skip-t-8,
  .box-skip-tablet-8 {
    margin-left: 12.5%;
  }
}

@media screen and (min-width: 900px) {
  .box-d-8,
  .box-desktop-8 {
    max-width: 12.5%;
  }
  .box-skip-d-8,
  .box-skip-desktop-8 {
    margin-left: 12.5%;
  }
}

@media screen and (min-width: 600px) {
  .menu .hamburger {
    display: none;
  }
  .menu .navbar > ul {
    display: block;
    position: static;
  }
  .menu .navbar > ul > li {
    display: inline-block;
    padding: 5px;
  }
  .popup-t,
  .popup-tablet {
    max-width: 780px;
  }
  .popup-d,
  .popup-desktop {
    max-width: 100%;
  }
}

@media screen and (min-width: 900px) {
  .menu-t .hamburger,
  .menu-tablet .hamburger {
    display: none;
  }
  .menu-t .navbar > ul,
  .menu-tablet .navbar > ul {
    display: block;
    position: static;
  }
  .menu-t .navbar > ul > li,
  .menu-tablet .navbar > ul > li {
    display: inline-block;
    padding: 5px;
  }
  .popup-d,
  .popup-desktop {
    max-width: 1080px;
  }
}

body.dark {
  background-color: #161c2c;
  color: #ffffff;
}

body.dark .menu,
body.dark .navbar > ul,
body.dark .navbar > ul li,
body.dark .navbar > ul li a {
  background-color: #00040c;
  color: #ffffff;
}

body.dark .navbar > ul li:hover,
body.dark .navbar > ul li:hover > a {
  background-color: #0082aa;
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */