$white: #ffffff;
$black: #000000;
$dark: #00040c;
$dark-gray: #333333;
$gray: #cccccc;



*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
  font-size: 16px;
  background-color: $white;
  color: $dark-gray;
}
body.dark{
  background-color: #00040c;
  color: $white;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
.box {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.box-full {
  width: 100%;
  max-width: 100%;
  margin: auto;
}
.linear:before,
.linear:after {
  display: table;
  content: " ";
}
.linear:after {
  clear: both;
}
.menu,
.menu-t,
.menu-tablet,
.menu-d,
.menu-desktop {
  position: relative;
  background-color: $white;
  padding: 10px 0px;
}
.hamburger {
  display: block;
  height: 20px;
  width: 30px;
  margin: 0px 10px 0px 10px;
  border-bottom: 12px double $dark-gray;
  border-top: 4px solid $dark-gray;
  text-decoration: none;
  cursor: pointer;
}
.hamburger + input {
  display: none;
  visibility: hidden;
  width: 0px;
  height: 0px;
  opacity: 0;
}
.hamburger + input:checked + .navbar > ul {
  display: block;
}
.menu .navbar > ul > li,
.menu-t .navbar > ul > li,
.menu-tablet .navbar > ul > li,
.menu-d .navbar > ul > li,
.menu-desktop .navbar > ul > li {
  display: block;
  padding: 5px 0px;
  background-color: $white;
}
.navbar > ul {
  display: none;
  position: absolute;
  width: 100%;
  padding: 0px;
  background-color: $white;
}
.navbar > ul a {
  display: block;
  padding: 10px; 
  text-decoration: none;
  font-weight: bold;
  color: $dark-gray;
}
.navbar > ul li:hover {
  background-color: $gray;
  border-radius: 4px;
  cursor: pointer;
}
.navbar > ul > .dropdown {
  position: relative;
}
.navbar > ul > .dropdown::after{
  content: '';
  position: absolute;
  top: 43%;
  left: 86%;
  border-top: 8px solid $dark-gray;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.navbar > ul > .dropdown:hover::after{
  content: '';
  position: absolute;
  top: 35%;
  left: 86%;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-bottom: 8px solid $dark-gray;
}
.navbar > ul > .dropdown > ul{
  display: none;
  position: absolute;
  left: 0px;
  margin-top: 5px;
  padding: 0px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: $white;
}
.navbar > ul > .dropdown:hover > ul{
  display: block;
}
// .navbar > ul > .dropdown:focus-within > ul {
//   display: block;
// }
.navbar > ul > .dropdown > ul > li {
  display: block;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  cursor: pointer;
}
.center-box,
.center-btn,
.center-img {
  display: block;
  margin: auto;
}
.left-float {
  float: left;
}
.center-float {
  float: center;
}
.right-float {
  float: right;
}
.left-text {
  text-align: left;
}
.center-text {
  text-align: center;
}
.right-text {
  text-align: right;
}
.popup,
.popup-t,
.popup-tablet,
.popup-d,
.popup-desktop {
  display: none;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 95%;
  max-width: 480px;
  padding: 30px 15px;
  background-color: $white;
  border: 2px solid $gray;
  border-radius: 5px;
}
.popup:target,
.popup-t:target:target,
.popup-tablet:target,
.popup-d:target,
.popup-desktop:target {
  display: block;
}
.popup .close,
.popup-t .close,
.popup-tablet .close,
.popup-d .close,
.popup-desktop .close {
  position: absolute;
  top: 0px;
  right: 8px;
  font-size: 30px;
  text-decoration: none;
}
.no-decoration {
  text-decoration: none;
}
/* unvisited link */
a.no-decoration:link {
  color: inherit;
}
/* visited link */
a.no-decoration:visited {
  color: inherit;
}
/* mouse over link */
a.no-decoration:hover {
  color: inherit;
}
/* selected link */
a.no-decoration:active {
  color: inherit;
}
@media screen and (min-width: 600px) {
  .menu .hamburger{
    display: none;
  }
  .menu .navbar > ul {
    display: block;
    position: static;
  }
  .menu .navbar > ul > li {
    display: inline-block;
    padding: 5px;
  }
  .popup-t,
  .popup-tablet {
    max-width: 780px;
  }
  .popup-d,
  .popup-desktop {
    max-width: 100%;
  }
}
@media screen and (min-width: 900px) {
  .menu-t .hamburger, 
  .menu-tablet .hamburger{
    display: none;
  }
  .menu-t .navbar > ul, 
  .menu-tablet .navbar > ul {
    display: block;
    position: static;
  }
  .menu-t .navbar > ul > li, 
  .menu-tablet .navbar > ul > li {
    display: inline-block;
    padding: 5px;
  }
  .popup-d,
  .popup-desktop {
    max-width: 1080px;
  }
}

@for $i from 1 through 8 {
  .box-#{$i} {
    float: left;
    width: 100%;
    max-width: 100% / $i;
  }
  .box-skip-#{$i} {
    margin-left: 100% / $i;
  }
}
@for $i from 1 through 8 {
  @media screen and (min-width: 600px) {
    .box-t-#{$i},
    .box-tablet-#{$i} {
      max-width: 100% / $i;
    }
    .box-skip-t-#{$i},
    .box-skip-tablet-#{$i} {
      margin-left: 100% / $i;
    }
  }
  @media screen and (min-width: 900px) {
    .box-d-#{$i},
    .box-desktop-#{$i} {
      max-width: 100% / $i;
    }
    .box-skip-d-#{$i},
    .box-skip-desktop-#{$i} {
      margin-left: 100% / $i;
    }
  }
}
