.btn{
  display: inline-block;
  padding: 0.625rem 1.25rem;
  border-radius: $border-radius;
  border: none;
  text-decoration: none;
  cursor: pointer;

  &-block{
    @extend .btn;
    display: block;
  }
}