@for $i from 1 through 8 {
	@media screen and (min-width: 600px) {
		.box-t-#{$i},
		.box-tablet-#{$i} {
		max-width: 100% / $i;
		}
		.box-skip-t-#{$i},
		.box-skip-tablet-#{$i} {
		margin-left: 100% / $i;
		}
	}
}

@media screen and (min-width: 600px) {
	.menu .hamburger{
		display: none;
	}
	.menu .navbar > ul {
		display: block;
		position: static;
	}
	.menu .navbar > ul > li {
		display: inline-block;
		padding: 5px;
	}
	.popup-t,
	.popup-tablet {
		max-width: 780px;
	}
	.popup-d,
	.popup-desktop {
		max-width: 100%;
	}
}