$border-radius: 4px;

$primary-bg: #0082aa;
$primary-text: #333333;

$dark-primary-bg: #161c2c;
$dark-primary-text: #2ccfcc;

$black: #000000;
$white: #ffffff;
$gray: #cccccc;
$yellow: #ddd000;
$orange: #dd8500;
$red: #dd0000;
$green: #00dd85;
$blue: #0085dd;
