$border-radius: 4px;

$primary-bg: #0082aa;
$primary-text: #333333;

$dark-primary-bg: #161c2c;
$dark-primary-text: #2ccfcc;

$black: #00040c;
$white: #ffffff;
$gray: #cccccc;
$yellow: #c0c000;
$orange: #cf7200;
$red: #c00000;
$green: #25c525;
$blue: #2020b6;
